@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-family: "Noto Sans Syriac", sans-serif;
}

p {
    font-family: "PT Sans", sans-serif;
}

.menu-title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding-left: 18px;
    line-height: 55px;
    white-space: nowrap;
}

#menu {
	background: #256B1B;
	height: 55px;
	padding-right: 18px;
	border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: right;
    margin-left: auto;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 55px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: lowercase;
}
#menu a.dropdown-arrow:after {
	content: "\23F7";
	margin-left: 5px;
}
#menu li a:hover {
	color: #256B1B;
	background: #F2E8D8;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 55px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 55px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}

#heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body, html {
  height: 100%;
}

.hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/bg.jpg");

    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 10px;
}


.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.hero-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 26px;
    background: #256B1B;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
}

.hero-btn:hover {
    background: #1e5716;
}

@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }
}


  