@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-family: "Noto Sans Syriac", sans-serif;
}

p {
    font-family: "PT Sans", sans-serif;
}


  